# Entorno Virtual
venv/

# Base de datos
db.sqlite3
*.sqlite3

# Archivos de caché de Python
__pycache__/
*.pyc

# Archivos de medios subidos por el usuario
# (Opcional, pero recomendado si no quieres versionar las imágenes de prueba)
media/

# Archivos del sistema operativo
.DS_Store
Thumbs.db